.profile-form__close-button {
  padding: 20px;
  background-image: url(../../../images/Close-Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.6s linear 0.1s;
}

.profile-form__close-button:hover {
  opacity: 0.6;
  transition: opacity 0.6s linear 0.1s;
}

@media screen and (max-width: 580px) {
  .profile-form__close-button {
    padding: 13px;
    background-size: 26px 26px;
    right: 0;
    top: -40px;
  }
}
