.card-form__submit-button {
  margin: 48px auto 36.5px;
  padding: 0;
  background-color: black;
  color: white;
  height: 50px;
  width: 358px;
  font-weight: normal;
  font-size: 18px;
  line-height: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  border: 0;
  opacity: 1;
  transition: opacity 0.6s linear 0.1s;
}

.card-form__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 580px) {
  .card-form__submit-button {
    width: 238px;
    height: 46px;
    margin: 46px auto 36.5px;
    font-size: 14px;
    line-height: 17px;
  }
}
