.profile__edit-button {
  width: 24px;
  height: 24px;
  color: white;
  margin: 15px 0 0 18px;
  padding: 0;
  background-image: url(../../../images/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  background-color: black;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.6s linear 0.1s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 440px) {
  .profile__edit-button {
    width: 18px;
    height: 16px;
    margin: 0 0 5px 10px;
    background-size: 7.5px 7.5px;
    align-self: flex-end;
  }
}
