.image-popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s linear;
}
