.header {
  padding-top: 45px;
  padding-bottom: 41px;
  display: block;
  width: 880px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    width: 415px;
  }
}

@media screen and (max-width: 440px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
    width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
  }
}
