.profile-form {
  width: 430px;
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border-radius: 10px;
  border: solid 1px white;
  box-sizing: border-box;
  z-index: 1;
  align-self: center;
  position: relative;
}

@media screen and (max-width: 580px) {
  .profile-form {
    width: 282px;
  }
}
