.line {
  height: 1px;
  background-color: rgb(84, 84, 84);
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 880px) {
  .line {
    max-width: 581px;
  }
}

@media screen and (max-width: 580px) {
  .line {
    width: 415px;
  }
}

@media screen and (max-width: 440px) {
  .line {
    width: 282px;
  }
}
@media screen and (max-width: 320px) {
  .line {
    width: 320px;
  }
}

