.popup__close-button {
  padding: 20px;
  background-image: url(../../../../images/Close-Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-color: transparent;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.6s linear 0.1s;
  z-index: 1;
  border: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 580px) {
  .popup__close-button {
    padding: 13px;
    background-size: 22px 22px;
    right: 0;
    top: -50px;
  }
}
