@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

@import url(../styles/blocks/body/body.css);
@import url(../styles/blocks/page/page.css);

@import url(../styles/blocks/header/header.css);
@import url(../styles/blocks/header/__logo/header__logo.css);

@import url(../styles/blocks/profile/profile.css);
@import url(../styles/blocks/profile/__image-container/__edit-icon-container/profile__edit-icon-container.css);
@import url(../styles/blocks/profile/__image-container/__container.css);
@import url(../styles/blocks/profile/__image-container/__image/profile__image.css);
@import url(../styles/blocks/profile/__image-container/__edit-icon/profile__edit-icon.css);
@import url(../styles/blocks/profile/__image-container/_hover/profile__edit-icon_hover.css);
@import url(../styles/blocks/profile/__info/profile__info.css);
@import url(../styles/blocks/profile/__info-container/profile__info-container.css);
@import url(../styles/blocks/profile/__name/profile__name.css);
@import url(../styles/blocks/profile/__edit-button/profile__edit-button.css);
@import url(../styles/blocks/profile/__about-me/profile__about-me.css);
@import url(../styles/blocks/profile/__add-button/profile__add-button.css);

@import url(../styles/blocks/cards/cards.css);
@import url(../styles/blocks/card/card.css);
@import url(../styles/blocks/card/__image/card__image.css);
@import url(../styles/blocks/card/__card__remove-button/card__card__remove-button.css);
@import url(../styles/blocks/card/__location-like-container/card__location-like-container.css);
@import url(../styles/blocks/card/__location/card__location.css);
@import url(../styles/blocks/card/__like-button/card__like-button.css);
@import url(../styles/blocks/card/__like-button/_active/card__like-button_active.css);
@import url(../styles/blocks/card/__likeCount.css/card__likeCounte.css);

@import url(../styles/blocks/footer/footer.css);
@import url(../styles/blocks/footer/__rights/footer__rights.css);

@import url(../styles/blocks/form/__heading/form__hading.css);
@import url(../styles/blocks/form/__fieldset/form__fieldset.css);

@import url(../styles/blocks/pfofile-form/__item/profile-form__item.css);
@import url(../styles/blocks/pfofile-form/__submit-button/profile-form__submit-button.css);

@import url(../styles/blocks/card-form/__item/card-form__item.css);
@import url(../styles/blocks/card-form/__submit-button/card-form__submit-button.css);

@import url(../styles/blocks/image-popup/__container/image-popup__container.css);
@import url(../styles/blocks/image-popup/__close-button/image-popup__close-button.css);
@import url(../styles/blocks/image-popup/__image/image-popup__image.css);
@import url(../styles/blocks/image-popup/__location/image-popup__location.css);

@import url(../styles/blocks/popup/popup.css);
@import url(../styles/blocks/popup/__container/popup__container.css);
@import url(../styles/blocks/popup-hidden/popup-hidden.css);
@import url(../styles/blocks/popup/__close-button/popup__close-button.css);
@import url(../styles/blocks/popup/__form/popup__form.css);
@import url(../styles/blocks/popup/popup__input/popup__input.css);
@import url(../styles/blocks/popup/popup__input/_type/_error/popup__input_type_error.css);
@import url(../styles/blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(../styles/blocks/popup/__button/__button.css);
@import url(../styles/blocks/popup/__button/_disabled/popup__button_disabled.css);

@import url(../styles/blocks/deleteCardpopup/deleteCardPopup.css);
@import url(../styles/blocks/deleteCardpopup/deleteCarsPopup__container/deleteCarsPopup__container.css);
@import url(../styles/blocks/deleteCardpopup/__heading/deleteCardPopup__heading.css);
@import url(../styles/blocks/deleteCardpopup/__yesButton/deleteCardPopup__yesButton.css);
