.profile__name {
  width: 373px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 440px) {
  .profile__name {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    width: 224px;
  }
}
