.profile-form__heading {
  max-width: 358px;
  width: 100%;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin: 0 auto;
  margin-top: 34px;
  padding: 0;
}

@media screen and (max-width: 580px) {
  .profile-form__heading {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    margin-top: 25px;
  }
}
