.profile__add-button {
  color: white;
  margin: 35px 0 0 165px;
  width: 150px;
  height: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(../../../../images/add.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-color: black;
  opacity: 1;
  transition: opacity 0.6s linear 0.1s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) {
  .profile__add-button {
    margin: 36px auto 0;
    width: 282px;
    justify-self: center;
    background-size: 16px 16px;
  }
}
