@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/line/header__line.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/info-container/profile__info-container.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__about-me/profile__about-me.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__location-like-container/card__location-like-container.css);
@import url(../blocks/card/__location/card__location.css);
@import url(../blocks/card/__like-button/card__like-button.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__rights/footer__rights.css);

@import url(../blocks/profile-form-container/profile-form-container.css);
@import url(../blocks/profile-form-container/_hidden/profile-form-container_hidden.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_hidden/popup_hidden.css);
@import url(../blocks/pfofile-form/profile-form.css);
@import url(../blocks/pfofile-form/__close-button/profile-form__close-button.css);
@import url(../blocks/pfofile-form/__fieldset/profile-form__fieldset.css);
@import url(../blocks/pfofile-form/__heading/profile-form__heading.css);
@import url(../blocks/pfofile-form/__item/profile-form__item.css);
@import url(../blocks/pfofile-form/__submit-button/profile-form__submit-button.css);
