.footer__rights {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(84, 84, 84, 1);
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 580px) {
  .footer__rights {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    margin: 0 auto;
  }
}
