.card__like-button {
  width: 21px;
  height: 19px;
  cursor: pointer;
  background-image: url(../../../../images/heart.svg);
  background-position: center;
  background-size: cover;
  background-color: white;
  margin: 20px 0 0 3px;
  border: 0;
  opacity: 1;
  transition: opacity 0.6s linear 0.1s;
}

.card__like-button:hover {
  opacity: 0.5;
}
